.cart {
  min-height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: var(--bg-main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.amount {
  color: red;
  font-size: 1.4rem;
  font-weight: 600;
}

.store {
  color: #eb455f !important;
  font-weight: 600;
}

.delete {
  background-color: var(--bg-cart) !important;
  border: none !important;
}

.delete:hover {
  background-color: rgb(5, 5, 131) !important;
}

.empty {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.xmark {
  float: right;
  margin-top: 2px;
  cursor: pointer;
}

@media (max-width: 990px) {
  .xmark {
    margin-top: -59px;
    margin-right: -11px;
    background-color: #fff;
    width: 30px;
  }

  .empty {
    border-radius: 10px 0 10px 10px;
  }
}

@media (max-width: 419px) {
  .xmark {
    margin-top: -82px;
    margin-right: -11px;
  }
}
@media (max-width: 301px) {
  .xmark {
    margin-top: -105px;
    margin-right: -11px;
  }
}
