.container {
  min-height: 100vh;
}

.sales {
  width: 70px;
  height: 20px;
  background-color: rgb(235, 235, 27);
  position: absolute;
  right: -20px;
  top: 10px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.title {
  height: 50px;
  color: black;
  font-weight: 500 !important;
  margin-top: 5px !important;
}

.price {
  color: red;
  font-size: 1.4rem;
  font-weight: 600;
}

.empty {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 100% !important;
}

.xmark {
  float: right;
  margin-top: 2px;
  cursor: pointer;
}

.store {
  color: #eb455f !important;
  font-weight: 600;
}

@media (max-width: 767px) {
  .xmark {
    margin-top: -59px;
    margin-right: -13px;
    background-color: #fff;
    width: 30px;
  }

  .empty {
    border-radius: 10px 0 10px 10px;
  }
}

@media (max-width: 323px) {
  .xmark {
    margin-top: -82px;
    margin-right: -11px;
  }
}
