.nav {
  /* background-color: #bad7e9; */
  background: radial-gradient(
    circle,
    rgba(235, 69, 95, 1) 0%,
    rgba(43, 52, 103, 1) 100%
  );
}
.container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.links {
  margin: 0 15px;
  color: white !important;
}
