#paginationActive {
  background-color: var(--bg-cart);
  border: 1px solid #0b0c10;
  color: #fff;
}
#paginationInactive {
  background-color: #fff;
  border: 1px solid var(--bg-fav);
  color: var(--bg-fav);
}
