.main {
  max-width: 1270px;
  margin: 0 auto;
}

.card_body {
  margin-bottom: -10px;
}

img {
  height: 180px;
  object-fit: cover;
}

.title {
  height: 50px;
  color: black !important;
  font-weight: 700 !important;
  margin-top: 5px !important;
}

.price {
  color: red;
  font-size: 1.4rem;
  font-weight: 600;
}

.sales {
  width: 70px;
  height: 20px;
  background-color: rgb(235, 235, 27);
  position: absolute;
  right: -20px;
  top: 10px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
