:root {
  --text-primary: #101d42;
  --text-secondary: #2bb686;
  --text-dark: #2b2922;
  --text-light: #eaeaea;

  --bg-cart: #2b3467;
  --bg-fav: #eb455f;
  --bg-main: #f2f2f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

body {
  background-color: var(--bg-main) !important;
}

a {
  text-decoration: none !important;
}

h1 {
  font-weight: 600 !important;
  padding: 20px 0;
}

h2 {
  padding: 20px 0;
}

input[type="radio"] {
  display: none;
}

.button_cart {
  background-color: var(--bg-cart) !important;
  border: none !important;
  width: 90%;
  margin: 0 auto 5px auto;
}

.button_fav {
  background-color: var(--bg-fav) !important;
  border: none !important;
  width: 90%;
  margin: 0 auto 14px auto;
}

.button_fav:hover {
  background-color: rgb(212, 37, 37) !important;
}
.button_cart:hover {
  background-color: rgb(5, 5, 131) !important;
}
